@import '~normalize.css';

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
button {
    display: inline-block;
    cursor: pointer;
}
#map{
    width: 100%;
    height: 100%;
    background-color: #eee;
}
.layer {
    padding: 10px;
    background-color: #fff;
    &__bus-stop {
        .header {
            position: relative;
        }
        .btn__close-layer {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}